[
  {
    "name": "兔子",
    "stickers": [
      {
        "body": "Carrot",
        "info": {
          "h": 200,
          "mimetype": "image/png",
          "size": 80625,
          "thumbnail_info": {
            "h": 200,
            "mimetype": "image/png",
            "size": 80625,
            "w": 142
          },
          "thumbnail_url": "mxc://matrix.org/kGJDCjMOgpLmZzbgknMTUHNm",
          "w": 142
        },
        "msgtype": "m.sticker",
        "url": "mxc://matrix.org/kGJDCjMOgpLmZzbgknMTUHNm",
        "id": "kGJDCjMOgpLmZzbgknMTUHNm"
      },
      {
        "body": "Chef",
        "info": {
          "h": 200,
          "mimetype": "image/png",
          "size": 88633,
          "thumbnail_info": {
            "h": 200,
            "mimetype": "image/png",
            "size": 88633,
            "w": 151
          },
          "thumbnail_url": "mxc://matrix.org/szaTExsJurtDBUUEeHHbhyqk",
          "w": 151
        },
        "msgtype": "m.sticker",
        "url": "mxc://matrix.org/szaTExsJurtDBUUEeHHbhyqk",
        "id": "szaTExsJurtDBUUEeHHbhyqk"
      }
    ]
  },
  {
    "name": "猫",
    "stickers": [
      {
        "body": "🎓",
        "url": "mxc://maunium.net/pxbCqPJNvcFIZlAyKCyXsqfJ",
        "info": {
          "w": 256,
          "h": 256,
          "size": 106237,
          "mimetype": "image/png",
          "thumbnail_url": "mxc://maunium.net/pxbCqPJNvcFIZlAyKCyXsqfJ",
          "thumbnail_info": {
            "w": 256,
            "h": 256,
            "size": 106237,
            "mimetype": "image/png"
          }
        },
        "net.maunium.telegram.sticker": {
          "pack": {
            "id": "551004416715522051",
            "short_name": "pusheen02"
          },
          "id": "551004416715522189",
          "emoticons": [
            "🎓"
          ]
        },
        "id": "tg-551004416715522189"
      }
    ]
  }
]