.sticker-section {
    width: 100%;
}

.sticker-list {
    display: flex;
    flex-wrap: wrap;
}

.sticker-list img {
    margin-right: 4px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
}
.sticker-list img:hover {
    background-color: #eee;
}